body
{
    direction: rtl;
    padding: 0;
    color: #4caf4e;
    background-color: white;
    margin-bottom: 50px;

}
h1 {
     color: #404446;
     font-size: 44pt;
     font-weight: bolder;
 }
h2 {
    color: #404446;
    font-size: 36pt;
    font-weight: bold;
}
h3 {
    color: #404446;
    font-size: 24pt;
    font-weight: bold;
}
a {
    text-decoration: none;
}
#container {
    background-color: black;


}
.vertical-menu {
    height: 100vh;
    width: 30%;
    background-color: white;
    float: right;
    color: white;


}
#main {
    height: 100vh;
    width: 70%;
    background-color: white;
    float: left;
    margin-bottom: 10vh;
}

#asd {
    margin-top: 20vh;
    margin-right: 10vw;
    height: 75vh;
    width: 75vh;
    background-color: white;
    position: center;
}
#right {
    width: 30%;
}
.vertical-menu {
    width: 100%;

}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
#one {
    width: 50%;
    height: 50%;
    background-color: white;
    float: left;
    transition: transform .3s;
}
#one:hover {
    transform: scale(1.3);


}
#two {
    width: 50%;
    height: 50%;
    background-color: white;
    float: right;
    transition: transform .5s;
}
#two:hover {
    transform: scale(1.3);

}

#three {
    width: 50%;
    height: 50%;
    background-color: white;
    float: right;
    transition: transform .5s;
}

#three:hover {
    transform: scale(1.3);


}
#four {
    width: 50%;
    height: 50%;
    background-color: white;
    float: left;
    transition: transform .2s;
}
#four:hover {
    transform: scale(1.3);
   e
}
#facebook {
float: right;
    margin-top: 0;
}



#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],

#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    width: 70%;
    padding: 25px;
    margin: 150px 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#melel {
    padding: 10vh;
    margin-top: 8vh;
    color: #4caf4e
}

#tmuna0 {
    margin-right: 15vh;
    margin-top: -3vh;
    transition: transform .3s;
    width: 33vh;


}
#tmuna0:hover {
    transform: scale(1.15);
    margin-right: 15vh;
}

#tmuna1 {
    position: fixed;
    margin-right: 75vh;
    m


}
#black {
    width: 100%;
    height: 100vh;
    background-color: black;
}
#melel2 {
    padding: 1vh;
    color: #4caf4e;
    pointer-events: none;
    cursor: default;
    text-decoration:none;
    margin-right: 11vh;


}
#rodef {
    margin-right: 12vh;



}
#rodef2 {
    pointer-events: none;
    cursor: default;
    text-decoration:none;
}
#tmuna3 {
    margin-right: 15vh;
    margin-top: -3vh;
    transition: transform .3s;
    width: 33vh;
}
#tmuna3:hover {
    transform: scale(1.15);

}
#facebook {
    width: 50px;
    height: 50px;
}
#email {
    width: 50px;
    height: 50px;
}
#footer {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

}
