body {
    width:90%;
    min-width:600px;
    direction: rtl;
    font-family: Alef;
    color: #d9dada;
    background-image: url("../images/12.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-height: 300px;
    max-width: 1000px;

}

#container {
    margin: 0 auto;
    width: 960px;
    height: 760px;
    background-color: #545557;


}
#header {
    width:960px;
    height:180px;
    background-image: url("../images/logo1.png");
}
#rightsquare {
    width: 590px;
    height: 590px;
    background-color: #343434;
    float: right;
    opacity: 0.6;


}

#leftsquare {
    width: 370px;
    height: 590px;
    background-color: lightgrey;
    float: left;
}
#leftsquare1 {
    width: 370px;
    height: 370px;
    background-image: url("../images/portrait.png");
}
#leftsquare2 {
    width: 370px;
    height:220px;
    background-color: #3c3c3c;
}
#leftsquare3 {
    width: 220px;
    height:220px;
    background-color: #3c3c3c;
    float: right;

}
#gmail {
    background-image: url("../images/gmail.png");
    display: block;
    margin: 0 auto;
    target-new:tab;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -ms-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
    width: 220px;
    height: 220px;

}
#gmail:hover {
    background-image: url("../images/gmailcolored.png");
    animation-delay: 2s;
    animation: ease-in;
}
#leftsquare4 {
    width: 150px;
    height:220px;
    background-color: #3c3c3c;
    float: left;
}
#leftsquare5 {
    width: 150px;
    height:75px;
    background-color: #3c3c3c;
    float: left;
}
#facebook {
    background-image: url("../images/facebookbw.png");
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 75px;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -ms-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}
#facebook:hover {
    background-image: url("../images/facebookcolored.png");
}
#leftsquare6 {
    width: 150px;
    height:145px;
    background-color: #3c3c3c;
    float: left;
}
#linkedin {
    background-image: url("../images/linkedin.png");
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 145px;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -ms-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}
#linkedin:hover {
    background-image: url("../images/linkedincolored.png");
}
#footer {
    float: right;

    width: 960px;
    height: 80px;
    background: #545557;
}
}

.bold {
    font-weight: bold;
}
p {
    padding: 20px;
}
#nav1 ul {
    list-style: none;
    width: 590px;


}
#nav1 ul li {
    display: block;
    float:right;
    width: 25%;
    -webkit-transition: font-size .2s ease-in-out;
    -moz-transition: font-size .2s ease-in-out;
    -ms-transition: font-size .2s ease-in-out;
    -o-transition: font-size .5s ease-in-out;
    transition: font-size .2s ease-in-out;

}
#nav1 ul li:hover{
    font-size: x-large;
}
#nav1 ul li a {
    display: block;
    background-color: #2f2f33;
    color: white;
    height: 30px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;

}
nav ul li a:hover
{
    background-color: #3097D2;
}
nav ul li a:active
{
    background-color: green;
}
nav ul li ul
{
    display: none;
    position: absolute;
}
nav ul li:hover > ul
{
    display:block;
    width: 120px;
}
nav ul li
{
    display:inline-block;
}
p {
    float: right;
}
